<app-cabecalho></app-cabecalho>
<div class="container">
  <nav class="sidebar">
    <ul>
      <li><a href="#">Meu Mural</a> <img src="../assets/images/lampada-incandescente.png" alt=""></li>
      <li><a href="#">Novo Pensamento</a><img src="../assets/images/mais (1).png" alt=""></li>
      <li><a href="#">Meus Favoritos</a><img src="../assets/images/contorno-em-forma-de-coracao.png" alt=""></li>
    </ul>
  </nav>
  <main class="content">
    <app-criar-pensamento></app-criar-pensamento>
  </main>
  <section>
  </section>
</div>
<app-rodape></app-rodape>
